$icon-font-path: '../fonts/';
$lowlight: #0097a7;
$primary: #00bcd4;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/components-font-awesome/scss/font-awesome.scss';
// endbower


body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button:focus{
  border: none;
  outline: none;
}

.container{
  width: 100%;
  padding: 0;
}

.main-content{
  padding: 20px;
  margin-top: 60px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-top: 20px solid $lowlight;
  background: $primary;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  padding-bottom: 0;

  /* Make the masthead heading the same height as the navigation */
  h1 {

    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

}

.toolbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  background-color: $primary;
  padding: 0 16px;

  .actions {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 64px;
    top: 0;
    left: 0;

    .icon {
      padding: 7px;
      margin: 2px;
      vertical-align: middle;
    }

    .spacer {
      flex: 1;
    }

    svg {
      display: inline-block;
      pointer-events: none;
      position: relative;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: #fff;
    }

  }
  .title {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    padding-left: 40px;
  }
}


  @import './modules/shadow.scss';
  @import './modules/card.scss';
  @import './modules/thermometer.scss';
  @import './modules/calendar.scss';
  @import './modules/graph.scss';


